.loader {
  border: 8px solid hsl(0, 0%, 100%);
  border-top: 8px solid #735858;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  margin: 50px auto;
}

.loader-wrapper {
  background-color: #735858;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 180px;
  height: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-box {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #a6abb3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

body {
  font-family: Roboto Condensed, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Oxygen, sans-serif;
}

.cta-button {
  background-color: #58735f;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  border: none;
}

.cta-button:hover {
  background-color: #66866e;
  color: white;
  transform: scale(1.02);
}

.cta-button-2 {
  background-color: #735858;
  color: white;
  text-transform: uppercase;
  font-weight: 200;
}

.cta-button-2:hover {
  background-color: #967272;
  color: white;
  transform: scale(1.02);
}
